<!--
  Generated template for the TripsummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trip Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf='type == 0 && usertype != "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label  class="ratesymbol" >  <span>&#36;</span>  {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
        <!-- <span>&#36;</span>
        <input type="text" placeholder="Per Hour" [(ngModel)]=rate class="ratesymbol"> -->
      </ion-col>
    </ion-row>
    <hr>
   <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->

    <ion-row style="margin-top: 15%" *ngIf="!isaccepted">
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="accept()">Accept</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="decline()">Decline</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="negotiate()">Negotiate</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%" *ngIf="isaccepted && Iscancel && !cancelflag">
      <ion-col>
        <button ion-button full (click)="canceltrip()" [disabled]="disableButton">Request Cancellation</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 0 && usertype == "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
       <ion-label  class="ratesymbol" >   <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
    <!-- <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt }}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%" *ngIf="accepted == false">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="acceptowner()">Accept</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="declineowner()">Decline</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%" *ngIf="accepted && Iscancel">
      <ion-col col-12>
        <button ion-button (click)="canceltripowner()" [disabled]="disableButton" full>Request Cancellation</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 1'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label  class="ratesymbol" >  <span>&#36;</span>  {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
    <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
  </div>
  <div *ngIf='type == 2'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label  class="ratesymbol" >  <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines >
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol" *ngIf="offsetamt == ''">
        <input type="text" placeholder="Rate" [(ngModel)]=offsetamt class="ratesymbol">
      </ion-col>
      <!-- <ion-col col-5 ion-item no-lines *ngIf="rate">
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col> -->
    </ion-row>
    <hr>
    <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
       
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%" *ngIf="isescrow && messagetext !== 'Trip is completed.'">
      <ion-col col-12>
        <button ion-button full [disabled]="disableButton" (click)="payment()">Release Payment</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%" *ngIf="!isescrow && messagetext !== 'Trip is completed.'">
      <ion-col col-12>
        <button ion-button full [disabled]="disableButton" (click)="completeowner()">Complete trip</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 5 && usertype == "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label  class="ratesymbol" > <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
    <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="acceptoffer()">Accept Offer</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="negotiate()">Negotiate</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 5 && usertype != "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
         <ion-label  class="ratesymbol" >  <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
   <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%">
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="accept()">Accept</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="decline()">Decline</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button full [disabled]="disableButton" (click)="negotiate()">Counter Offer</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 6 && usertype != "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
       <ion-label  class="ratesymbol" >  <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
  <!-- <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%" *ngIf="accepted == true">
      <ion-col col-12>
        <button ion-button full>Accepted</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%" *ngIf="accepted == false">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="accept()">Accept</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="decline()">Decline</button>
      </ion-col>
    </ion-row>





  </div>
  <div *ngIf='type == 6 && usertype == "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
       <ion-label  class="ratesymbol" >    <span>&#36;</span>   {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
  <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="acceptowner()">Accept</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="declineowner()">Decline</button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf='type == 8 && usertype == "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
     <ion-label  class="ratesymbol" >    <span>&#36;</span>   {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
  <!-- <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Reason for cancel</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{reasonforcancel}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row style="margin-top: 15%">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="acceptcancel()">Accept</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="declinecancel()">Decline</button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf='type == 9 && usertype !== "Owner Operator"'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
       <ion-label  class="ratesymbol" >   <span>&#36;</span>  {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=rate class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
   <!-- <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Reason for cancel</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{reasonforcancel}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row style="margin-top: 15%">
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="acceptcancelowner()">Accept</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="disableButton" (click)="declinecancelowner()">Decline</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf='type == 12'>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Trip Name</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{title}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Departure airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{depcode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Enroute airports</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{enroutecode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Destination airport code</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{descode}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Start Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tsdate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>End Date</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{tedate | date:'MM/dd/yyyy'}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Aircraft Type</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{aircraft}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Rate / Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label  class="ratesymbol">  <span>&#36;</span> {{displayRate}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <span>&#36;</span> <input type="text" placeholder="Rate" [(ngModel)]=partialamt class="ratesymbol">
      </ion-col>
    </ion-row>
    <hr>
    <!--<ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Day</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{diffInDays}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-7 ion-item no-lines>
        <ion-label>Total Amount</ion-label>
      </ion-col>
      <ion-col col-5 ion-item no-lines>
        <ion-label>{{totalamt}}</ion-label>
      </ion-col>
    </ion-row>
    <hr>-->
    <ion-row style="margin-top: 15%" *ngIf="isescrow">
      <ion-col col-12>
        <button ion-button full [disabled]="disableButton" (click)="payment()">Release Payment</button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%" *ngIf="!isescrow && messagetext !== 'Trip is completed.'">
      <ion-col col-12>
        <button ion-button full [disabled]="disableButton" (click)="completeowner()">Complete trip</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>