<ion-row>


  <ion-col col-12>
    <ion-card>
      <ion-row>
        <ion-col col-3>
          <ion-img class="profile-photo" (click)="getImage()"></ion-img>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-label>{{searchdata.PilotFname}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>{{searchdata.PilotLname}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
  <ion-col col-12>
    <hr>
  </ion-col>
</ion-row>