page-createtrip {
    .item-ios {
        padding-left: 0px;
        background: white;
        color: black;
        font-size: 13px
    }

    .fullbtn {
        width: 90%;
    }

    .input-cover{
        display:none!important;
    }
    .datetime-ios {
        padding: 0!important;
    }
}