<!--
  Generated template for the FavuserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Favorites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
  <ion-row *ngFor='let data of favuserlist'> 
    <ion-col col-12>
      <ion-card (click)="GoToProfile(data.fkPilotid)">
        <ion-row>
          <ion-col col-2>
            <img class="profile-photo1" src="{{data.PhotoPath}}"/>
          </ion-col>
          <ion-col col-5>
            <ion-row>
              <ion-label style="margin-left: 20px">{{data.PilotFname}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label style="margin-left: 20px;margin-top: 10px;">{{data.Pilotlname}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label style="margin-left: 20px;margin-top: 10px;"><b>{{data.MemberShipType}}</b></ion-label>
            </ion-row>
          </ion-col>
          <ion-col  style="pointer-events: none;margin: -2px -6px auto">
            <div class="rating-wrap">
            <ionic3-star-rating #rating
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#f39c12" 
            defaultColor = "#000000"
            readonly="false"
            rating={{data.ratingCount}}
            fontSize = "24px"
            halfStar= true 
            (ratingChanged)="logRatingChange($event)">
        </ionic3-star-rating>
      </div>
          <!-- </ion-col> -->
        </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-12>
      <hr>
    </ion-col>
  </ion-row>
  </div>
  <br>
  <br><br><br>
  <!-- <div  *ngIf="searchdata == ''" text-center>
      <img  src="../../assets/imgs/search.png" style="width: 50px;height: 50px;;"/>
    <h4 style="font-size: 15px;">We couldn't find for who you're looking for..</h4>
    <p style="margin-top: -6px;">Try searching another keyword</p>
  </div> -->
</ion-content>