page-login {
    ion-navbar.toolbar-md {
        min-height: 120px !important;
        position: relative;
    } //on iOS
    ion-navbar.toolbar.toolbar-ios {
        min-height: 120px !important;
    }
    .fixed-content {
        background-color: #fff;
    }
    .toolbar-background {
        background-color: #2068D7;
    }
    .fullbtn {
        width: 65%;
        text-transform: none;
        height: 220%;
        background: #2068D7
    }
    .profile-photo {
        border-radius: 50% !important;
        border: 3px solid #fff !important;
        height: 100px;
        width: 100px;
        background-color: #000;
        overflow: hidden;
        margin-top: -50px;
    }
    .item-md.item-input.input-has-focus .item-inner, .item-md.item-input.item-input-has-focus .item-inner {
        border-bottom-color: #dedede;
        /* -webkit-box-shadow: inset 0 -1px 0 0 #dedede; */
        box-shadow:none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        /* -webkit-box-shadow: inset 0 -1px 0 0 #dedede; */
        box-shadow: none;
    }
    .list-md.item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{       border-bottom-color: #dedede;
        -webkit-box-shadow: inset -1 -1px 0 0 #dedede; 
           box-shadow: none;
           border-bottom-color: #dedede;
       }
       .list-md .item-input:last-child{
           border-bottom: 0px solid #dedede;
       }
}